main-color = #fa5b4d
background-color = #faf9f0

*
  margin 0
  padding 0

body
  display flex
  flex-direction column
  align-items center

ul
  display flex
  list-style-type none

li
  padding: 0 5px

article
  display flex

article > div
  width 50%