@font-face {
  font-family: 'Text';
  src:
    url('../../fonts/Text.woff2') format('woff2'),
    url('../../fonts/Text.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Icon';
  src:
    url('../../fonts/Icon.woff2') format('woff2'),
    url('../../fonts/Icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
